<section id="signup" class="signup-section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 mx-auto text-center">

				<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
				<h2 class="text-white mb-5">Subscribe to receive updates!</h2>

				<form class="form-inline d-flex">
					<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail"
						placeholder="Enter email address...">
					<button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
				</form>

			</div>
		</div>
	</div>
</section>

<section id="contact" class="contact-section bg-black">
	<div class="container">

		<div class="row justify-content-center">

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-2 h-100">
					<div class="card-body text-center">
						<h4 class="text-uppercase text-white m-0">Email</h4>
						<hr class="my-3">
						<div class="small text-white-50">
							<a href="#">hello@yourdomain.com</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-2 h-100">
					<div class="card-body text-center">
						<h4 class="text-uppercase text-white m-0">Phone</h4>
						<hr class="my-3">
						<div class="small text-white-50">+91 99999 99999</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="bg-black small text-center text-white-50">
	<div class="container">
		Heisenberg's Corner 2019 <br> Developed by <a href="https://github.com/adikul358">Aditya Kulshrestha</a>
	</div>
</footer>