<section class="contact-section bg-black">
	<div class="container">

		<div class="row justify-content-center">

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-2 h-100">
					<div class="card-body text-center">
						<h4 class="text-uppercase text-white m-0">Email</h4>
						<hr class="my-3">
						<div class="small text-white-50">
							<a href="#">hello@yourdomain.com</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-2 h-100">
					<div class="card-body text-center">
						<h4 class="text-uppercase text-white m-0">Phone</h4>
						<hr class="my-3">
						<div class="small text-white-50">+91 99999 99999</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="bg-black small text-center text-white-50">
	<div class="container">
		Heisenberg's Corner 2019 <br> Developed by <a href="https://github.com/adikul358">Aditya Kulshrestha</a>
	</div>
</footer>