<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="STEAM Quiz Website for Shiv Nadar School Noida">
	<meta name="author" content="Aditya Kulshrestha">
	<meta name="theme-color" content="#161616">

	<title>{{title}}</title>

	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="/css/grayscale.edit.css" rel="stylesheet">

</head>

<body id="page-top">

	<nav id='mainNavD' class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/">Heisenberg's Corner</a>
		</div>
	</nav>

	{{{body}}}

	{{> footer-nos}}

	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/js/grayscale.min.js"></script>

	<script>
		offsetHeight = document.getElementById('mainNavD').offsetHeight;
		paddingTop = parseInt($('#user-form').css("padding-top").split("px")[0]);
		$("#user-form").css("padding-top", 20 + offsetHeight);
		console.log(paddingTop)
		console.log(offsetHeight)
		console.log(paddingTop + offsetHeight)
		$(document).ready(function () {
			$("#nas").prop("checked", false)
			$('#nas').click(function () {
				$('#section').prop('disabled', function (i, v) {
					return !v;
				});
				$('#grade').prop('disabled', function (i, v) {
					return !v;
				});
			});
		});
	</script>

</body>

</html>