<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Heisenberg's corner</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">STEAM Quiz Website for Shiv Nadar School Noida</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Built to encourage curiosity</h2>
          <p class="text-white-50">Heisenberg's corner is a daily quiz website designed for students of Shiv Nadar School Noida to answer intriguing questions with their knowledge or look up facts and theories to both complete challenges and fill their knowledge cup</p>
        </div>
      </div>
      <img src="/img/brain2.png" class="img-fluid" alt="">
    </div>
  </section>

  <section class="projects-section bg-black" style="padding-bottom: 2rem">
    <div class="container">
      
      <!-- Featured Project Row -->
      <div id="theme" class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/img/bg-theme.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center">
            <h4>Chandrayan II</h4>
            <p class="text-white-50 mb-0">Chandrayaan 2 is an Indian lunar mission that will boldly go where no country has ever gone before — the Moon's south polar region. Through this effort, the aim is to improve our understanding of the Moon — discoveries that will benefit India and humanity as a whole. These insights and experiences aim at a paradigm shift in how lunar expeditions are approached for years to come — propelling further voyages into the farthest frontiers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="dailyquiz" class="projects-section bg-black" style="padding-top: 2rem">
    <div class="container">
      <div class="d-flex justify-content-center">
        <hr style="border-color: white; width:8rem; border-width:.3rem; margin:0">
      </div>
      <div class="text-center">
        <h1 class="text-white mt-4 mb-2">Daily Quiz</h1>
        <h3 class="text-white mb-5">{{date}}</h3>
      </div>

      <form action="/submit-answer/user-data/" method="POST">
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

        <div class="col-lg-12 mb-5">
          <div class="question-card text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-left">
                <h4 class="text-white">Question 1</h4>
                <p class="mb-0 text-white-50">{{question1}}</p>
                <hr class="d-block mb-5 ml-0">
                <div class="form-inline d-flex">
                  <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="answerOne" name="answerOne" placeholder="Your Answer">
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-lg-12">
          <div class="question-card text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-left">
                <h4 class="text-white">Question 2</h4>
                <p class="mb-0 text-white-50">{{question2}}</p>
                <hr class="d-block mb-5 ml-0">
                <div class="form-inline d-flex">
                  <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="answerTwo" name="answerTwo" placeholder="Your Answer">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 pr-3">
          <button type="submit" class="float-right mt-5 btn btn-primary">Submit</button>
        </div>
      </div>
      </form>
    </div>
  </section>